<form method="post" action="/send" id="form">
    <input type="text" placeholder="件名" name="title">
    <textarea name="body" placeholder="本文"></textarea>
    <input type="text" placeholder="メアド" name="mailadress">
    <input type="submit" value="送信！" onclick="send()">
</form>

<p id="sending">送信中...</p>

<script>
    document.getElementById("form").style.display ="block";
    document.getElementById("sending").style.display ="none";
    
    function send(){
        document.getElementById("form").style.display ="none";
        document.getElementById("sending").style.display ="block";
    }
</script>