<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ばつげーむん</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <div class="title">
                <h1>かなっちるーれっと！</h1>
            </div>
        </header>
        
        <div class="contents">
            <%= yield %>
        </div>
        
        
    </body>
</html>