header {
    background-color :#191970;
    padding: 0px;
    margin: 0px;
    color:#ffd700;
    font-size: 90%;
    display: flex;
    height:100%;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #ffffe0;
}

header h1{
    padding: 10px 0px 10px 10px;
}


.bottomright {
  display       : inline-block;
  position      : fixed;       /* ボタン固定 */
  bottom        : 25px;        /* 下から位置 */
  right         : 25px;        /* 右から位置 */
  padding       : 27px 14px;   /* 余白       */
  background    : #54a0ec;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  opacity       : 0.5;         /* 透明度     */
  border-radius : 50%;        /* 角丸       */
  font-size     : 21pt;        /* 文字サイズ */
  font-weight   : bold;        /* 太字       */
  line-height   : 1.2em;       /* 行の高さ   */
  letter-spacing: 2px;         /* 文字間隔   */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  z-index       : 999;         /* 重ね順位   */
}

.bottomright:hover {
  opacity       : 0.9;   
}